<div *ngIf="task != undefined" style="width: 0px" [@inOutAnimation]="hide ? 'closed' : 'open'">
  <div class="task-container shadow">
    <div class="task-content">
      <div class="d-flex" style="margin-top: 1rem; margin-bottom: 0.5rem; margin-right: 1rem">
        <button class="btn btn-sm btn-outline-success">
          Mark as completed
        </button>
        <button class="btn btn-sm btn-outline-primary mx-3">Modify</button>
        <button (click)="onDeleteButtonClick()" class="btn btn-sm btn-outline-danger" style="margin-left: auto">
          Remove Task
        </button>
      </div>
      <hr />
      <div class="container-details">
        <div class="taskTitle"> #{{task?.id}} {{task?.title}}</div>
        <hr />
        <table class="table table-borderless" style="color: white">
          <thead hidden>
            <tr>
              <th scope="col" style="width: 200px">label</th>
              <th scope="col">data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tableLabel">Assigned:</td>
              <td>
                <div class="row">
                  <div class="col-auto">
                    <input type="button" class="btn btn-primary btn-sm" value="Join" />
                  </div>
                  <div *ngIf="task?.assigned == undefined; else assignedUser" class="col-8" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >
                    not assigned yet
                  </div>
                  <ng-template #assignedUser>
                    <a class="col-8 link-info" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      @{{task?.assigned?.userName}}
                    </a>
                </ng-template>
                </div>
              </td>
            </tr>
            <tr>
              <td class="tableLabel">Project:</td>
              <td class="link-info">#{{task?.projectId}} {{currentproject?.name}}</td>
            </tr>
            <tr>
              <td class="tableLabel">Priority:</td>
              <td>
                <select disabled class="form-select-sm" aria-label="Priority select" [(ngModel)]="task.priority">
                  <option *ngFor="let prority of proritySelectList" [ngValue]="prority.name">{{prority.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="tableLabel">Status:</td>
              <td>
                <select  disabled class="form-select-sm" aria-label="Status select" [(ngModel)]="task.status">
                  <option *ngFor="let status of statusSelectList" [ngValue]="status.name">{{status.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="tableLabel pb-0" [colSpan]="2">
                Detailed description:
              </td>
            </tr>
          </tbody>
        </table>

        <div style="margin-bottom:1rem; margin-top:-1rem; min-height:100px;">
          {{task.description}}
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-md-auto">
            <span class="tableLabel">Start:</span> {{task?.started | date}}
          </div>
          <div class="col-12 col-md-auto">
            <span class="tableLabel">Finish:</span> {{task?.ended | date}}
          </div>
          <div class="col-12 col-md-auto">
            <span class="tableLabel">Total development time:</span> 0 days
          </div>
        </div>
        <hr />
        <div class="tags-section">
          <span class="tableLabel"> Tags: </span>
          <!-- <div *ngFor="let tag in project">
            <span class="m-1 badge bg-secondary">Deasign</span>
          </div> -->
        </div>
        <hr />
        <div class="text-center tableLabel">
          <small> Added by: <a>@{{task?.createdby?.userName}}</a>, {{task?.created | date}} </small>
        </div>
      </div>
    </div>
  </div>
</div>
