<h1 class="text-center shadow">Tasks in Project #{{projectId}}</h1>
<br>
<div class="col-12 d-md-flex m-0">
  <div class="col table-responsive" style="margin: 0 0 0 0; padding: 0 0 0 0; height: auto; max-height:75vh;">
    <div class="table-responsive mb-3">


    <table class="table table-borderless table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col" class="" style="width:50px">#</th>
          <th scope="col" class="col-auto" style="min-width:250px;">Title</th>
          <th scope="col" class="col-1">Priority</th>
          <th scope="col" style="min-width: 150px" class="col-2">Status</th>
          <th scope="col" class="col-1" style="min-width:115px;">Assigned</th>
          <th scope="col" class="col-1" style="min-width:115px;">Started</th>
          <th scope="col" class="col-1" style="min-width:115px;">Ended</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngStyle]="{'opacity': (task?.ended!=null) ? '0.4' : '1'}" *ngFor="let task of tasks" (click)="toggleDetails(task.id)" [ngClass]="{'table-primary':  selectedTaskId == task.id}">
          <th scope="row">{{task.id}}</th>
          <td>{{task.title}}</td>
          <td><span class="badge rounded-pill" [ngStyle]="{'background-color': getcolorByPrority(task.priority.toString())}" >{{task.priority}}</span></td>
          <td style='white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;'>{{task.status}}</td>
          <td>{{task.assigned?.userName}}</td>
          <td>{{task.started}}</td>
          <td>{{task.ended}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  </div>
    <app-task-details class="col-auto" [task]="selectedTask" [currentproject]="currentProject" (delete)="removeTaskElement($event)"></app-task-details>
</div>
