.form-control{
  margin-bottom: .5rem;
}

.h2{
  color:blue;
}

.card {
  border-radius: 20px;
  /* background: rgb(255, 236, 246);
  background: linear-gradient(35deg, rgb(221, 177, 253) 0%,rgb(255, 202, 242) 100%); */

}

.d-flex{
  justify-content: center;
}
