<div class="d-flex h-100">
  <div class="col-10 offset-3 col-md-6">
    <div class="card border-primary text-center">
      <div class="card-body">
        <div class="mb-5">
          <h1 class="h2 mb-2">Hello again</h1>
          <span>Sign in to your account to continue</span>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="row justify-content-center pb-2">
            <div class="control-group col-10 col-md-8">
              <input type="text" formControlName="username" placeholder="Username" autocomplete="username" class="form-control">
              <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary mb-3" [disabled]="!loginForm.valid">Login</button>
        </form>
      </div>
    </div>
    <div class="text-center mt-2">
      <span class="small">Don't have an account yet? <a routerLink="/register">Create
          one</a></span>
    </div>
  </div>
</div>
