
  <app-nav-bar *ngIf="isUserLogin"></app-nav-bar>
  <div class="container-fluid">
    <div class="row mt-2">
      <!-- <div *ngIf="isUserLogin; else elseBlock">Content to render when condition is true.</div>
      <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

      <nav class="col d-none d-md-block bg-dark sidebar pt-5"style=" max-width:200px;"  *ngIf="isUserLogin">
        <app-nav-bar-side></app-nav-bar-side>
      </nav>

      <main role="main" class="col mt-5 p-4" style="overflow:hidden; min-height: calc(100vh - 56px);">
        <router-outlet></router-outlet>

      </main>
    </div>
  </div>
